h1{
    color: rgb(4, 0, 255);
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
body
{
    background-color:antiquewhite
    
}

h2{
    color: blue;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
}
